<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.web>
		<compilation debug="true" targetFramework="4.7.2" />
		<httpRuntime targetFramework="4.7.2" />

		<!-- Allow public access -->
		<authentication mode="None" />
		<authorization>
			<allow users="*" />
		</authorization>
	</system.web>

	<system.serviceModel>
		<services>
			<service name="WeatherService.WeatherService" behaviorConfiguration="WeatherBehavior">
				<endpoint address=""
						  binding="basicHttpBinding"
						  contract="WeatherService.IWeatherService" />
			</service>
		</services>

		<behaviors>
			<serviceBehaviors>
				<behavior name="WeatherBehavior">
					<serviceMetadata httpGetEnabled="true" />
					<serviceDebug includeExceptionDetailInFaults="true" />
				</behavior>
			</serviceBehaviors>
		</behaviors>

		<serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
	</system.serviceModel>

	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true" />

		<handlers>
			<!-- Enable .svc execution (required for WebStrar/IIS on AWS) -->
			<add name=".svc" verb="*" path="*.svc"
				 type="System.ServiceModel.Activation.ServiceHttpHandlerFactory, 
                 System.ServiceModel.Activation, Version=4.0.0.0, 
                 Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
		</handlers>

		<directoryBrowse enabled="true" />
	</system.webServer>
</configuration>
